<?xml version="1.0"?>
<!--
/**
 * Configuração de eventos para o módulo BizCommerce_ExtendedWarranty
 *
 * @category  BizCommerce
 * @package   BizCommerce_ExtendedWarranty
 * @author    BizCommerce
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_add_product_complete">
        <observer name="bizcommerce_extendedwarranty_add_to_cart" instance="BizCommerce\ExtendedWarranty\Observer\AddToCartObserver" />
    </event>
</config>
